.nav-enlace {
    background: rgb(45, 89, 172);
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block list-st
}

.nav-enlace:hover {
    background: rgb(45, 28, 194);
}